#--- Environment ------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/venv/*
#--- IDE project files ------
.vscode/
*.code-workspace
.zed
.ruff*
.flake8
uv.lock
#--- python -----------------
__pycache__
*.py[cod]
*$py.class
*.pyc
__pycache__
#--- Project ----------------
**/_archives
payloads
NOTES.md
init.sh
.DS_Store
crash.log
.DS_Store
